<!-- views/partials/burger.handlebars
-->

<li class="list-group-item">
    <div class="d-flex flex-row">
        <p class="flex-grow-1 align-self-center mb-0">{{burgerName}} <small class="text-muted">by {{Customer.customerName}}</small></p>
        {{#unless isDevoured}}
        <button type="button" class="devour-button btn btn-primary" data-burger-id="{{id}}">Devour!</button>
        {{/unless}}
    </div>
</li>
